

.pizza {
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 5px;
  text-align: center;
  width: 500px;
}

.pizza h2 {
  color: #fc200c;
}

.pizza-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.list_of_pizzas {
  text-align: left;
  width: 200px;
}

ol {
  font-weight: bold;
}

.imgplate {
  width: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
}

footer img {
  margin-right: 10px;
}

footer ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 5px 0px;
}

footer ul li a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}
